body{
    text-align: center;
    background-image: linear-gradient(to right, green , yellow);
}

div.container{
    display: block;
    text-align: center;
    padding-top: 30vh;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background: white;
    border-radius: 25px;
    padding: 20px;
    min-width: 15vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
    border-radius: 4px;
    border: 2px solid #ccc;
}

input.description{
    padding: 12px 20px;
    box-sizing: border-box;
}